/* -- example of filling in data, the example is taken from a real project -- */
/* -- to understand what and why, read the instructions. --*/
/* -- parameters of "param" structures are arbitrary and are processed in the interior of the application -- */
const
    tables = {
        users: {
            login: ['varchar_index', {
                type: 'text',
                label: 'Login',
                placeholder: 'User login',
                view: true,
                unique: true,ы
                require: true,
                top_params: {
                    valid: { // validation parameters
                        min_length: 5,
	                    max_length: 255,
                        unique: true,
                        require: true,
                        only_latin: true // only in Latin
                    }
                }
            }],
            password: ['varchar_index', {
                type: 'password',
                label: 'Password',
                placeholder: 'To change your password, enter a new one',
                top_params: {
	                save_only: true, // save only when the value is passed
                    add_require: true, // when creating a new record, this field is required
                    function_save: 'password_hash({data})', // before saving to drive through a function
                    valid: { // validation parameters
                        min_length: 8,
	                    max_length: 255,
                    }
                }
            }],
            data: 'text',
            first_name: ['varchar', {
                type: 'text',
                label: 'Фамилия',
                view: true,
                select_list: true,
                require: true,
                top_params: {
                    valid: {
                        min_length: 2,
	                    max_length: 255,
                        require: true,
                        only_cyrillic: true // only in Cyrillic
                    }
                }
            }],
            last_name: ['varchar', {
                type: 'text',
                label: 'Имя',
                view: true,
                select_list: true,
                require: true,
                top_params: {
                    valid: {
                        min_length: 2,
	                    max_length: 255,
                        require: true,
                        only_cyrillic: true // only in Cyrillic
                    }
                }
            }],
            middle_name: ['varchar', {
                type: 'text',
                label: 'Отчество',
                view: true,
                select_list: true,
                top_params: {
                    valid: {
                        min_length: 2,
	                    max_length: 255,
                        only_cyrillic: true // only in Cyrillic
                    }
                }
            }],
            phone: ['string(12)', {
                type: 'tel',
                label: 'Telephone',
                require: true,
                placeholder: '8 (###) ###-##-##',
                default: '80000000000',
                view: true,
                require: true,
                top_params: {
                    mask: '8 (999) 999-99-99', // mask when filling in
                    function_view: 'phone_format({data})', // display function
                    function_save: 'phone_strip({data})', // before saving run through the function
                    valid: {
                        min_length: 10,
                        require: true,
                    }
                }
            }],
            hash: 'varchar(40)_index',
            last_active: ['int', {
                type: 'datetime',
                label: 'Активность',
                view: false,
                edit: false
            }],
            id_role_table: ['id', {
                type: 'select',
                label: 'Роль',
                view: true,
                require: true
            }],
            active: 'active_param',
            session: 'json'
        }
        ,option: {
            field_key: 'varchar_index',
            field_data: 'text'
        }
        ,role: {
            title: {
                type: 'varchar',
                param: {
                    type: 'text',
                    label: 'role user',
                    view: true,
                    select_list: true
                }
            },
            is_works: {
                type: 'bool',
                default: false,
                param: {
                    type: 'checkbox',
                    label: 'Participates in the schedule grid',
                    default: true,
                    view: true
                }
            },
            active: ['bool', {
                type: 'checkbox',
                label: 'Activity'
            }]
        }
        ,key_access: {
            title: ['varchar', {
                type: 'text',
                label: 'Access key',
                placeholder: 'Key in the table',
                view: true,
                edit: false
            }],
            description: ['varchar', {
                type: 'textarea',
                label: 'Description',
                placeholder: 'Why this key was created',
                view: true
            }]
        }
        ,menu_vs_role_access: {
            id_role_table: 'id',
            id_menu_table: 'id',
            id_key_access_table: 'id'
        }
        ,menu: {
            title: 'varchar',
            parent: 'id',
            uri: 'varchar',
            icon: 'varchar',
            order: 'int_index',
            view_menu: 'bool',
            active: 'active'
        }

        ,accounts: {
            email: 'varchar_index',
            password: 'varchar_index',
            fio: 'varchar'
        }
        ,projects: {
            title: 'varchar'
        }
        ,projects_cases: {
            id_project: 'id',
            title: 'varchar',
            price:'decimal',
            period_of_months: 'int',
            active: {
                type: 'bool',
                default: true
            }
        }
        ,projects_licenses: {
            id_projects_cases_table: 'id',
            id_accounts_table: 'id',
            date_start: 'date',
        }
        ,codes_licenses: {
            id_projects_licenses_table: 'id',
            licenses: 'varchar(40)_index',
            key: 'varchar',
            identifier_device: 'varchar' // id of the device that the license is linked to
        }
    },

    data = { // automatic basic filling
        option: [
            {
                search: {
                    field_key: 'version'
                },
                data: {
                    field_data: 0.1
                }
            },
            {
                search: {
                    field_key: 'date'
                },
                data: {
                    field_data: time()
                }
            }

        ],
        key_access: [
            {
                search: {
                    title: 'view'
                },
                data: {
                    description: 'View'
                }
            },
            {
                search: {
                    title: 'edit'
                },
                data: {
                    description: 'Edit'
                }
            },
            {
                search: {
                    title: 'add'
                },
                data: {
                    description: 'Create'
                }
            },
            {
                search: {
                    title: 'del'
                },
                data: {
                    description: 'Delete'
                }
            }
        ],
        role: [
            {
                search: {
                    title: 'Admin'
                },
                data: {
                    active: true
                }
            },
        ],
        users: [
            {
                search: {
                    login: 'admin',
                },
                data: {
                    password: password_hash('password qwerty'), // you need to place this function in the current file
                                                                   so that the logic matches the password encryption in the application
                    first_name: 'Админ',
                    last_name: 'Админ',
                    // if the field is id_(table name without prefix)_table: {and the value is an object} // then in the field we write -
                    id_role_table: {title: 'Admin'}, // id from the table by search object
                    active: true
                }
            }
        ],
        menu: [
            {
                search: {
                    uri: 'admin/menu'
                },
                data: {
                    title: 'Меню',
                    order: 1,
                    icon: 'fa fa-sitemap',
                    view_menu: true,
                    active: true
                }
            }
        ],
        menu_vs_role_access: [
            {
                search: {
                    id_role_table: {title: 'Admin'},
                    id_menu_table: {uri: 'admin/menu'},
                    id_key_access_table: {title: 'view'}
                }
            },
            {
                search: {
                    id_role_table: {title: 'Admin'},
                    id_menu_table: {uri: 'admin/menu'},
                    id_key_access_table: {title: 'edit'}
                }
            },
            {
                search: {
                    id_role_table: {title: 'Admin'},
                    id_menu_table: {uri: 'admin/menu'},
                    id_key_access_table: {title: 'add'}
                }
            }
        ]
    }
;

module.exports = {tables, data};